{% load static %}
<footer>
<div class="block top-padd80 bottom-padd80 dark-bg">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 col-lg-12">
<div class="footer-data">
<div class="row">
<div class="col-md-3 col-sm-6 col-lg-3">
<div class="widget about_widget wow fadeIn" data-wow-delay="0.1s">
<div class="logo"><h1 itemprop="headline"><a href="#" title="Home" itemprop="url"><img src="/static/images/logo.png" alt="logo.png" itemprop="image"></a></h1></div>
<p itemprop="description">Food Ordering is a Premium HTML Template. Best choice for your online store. Let purchase it to enjoy now</p>
<div class="social2">
<a class="brd-rd50" href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook"></i></a>
<a class="brd-rd50" href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
<a class="brd-rd50" href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
<a class="brd-rd50" href="#" title="Pinterest" itemprop="url" target="_blank"><i class="fa fa-pinterest"></i></a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 col-lg-3">
<div class="widget information_links wow fadeIn" data-wow-delay="0.2s">
<h4 class="widget-title" itemprop="headline">青贵专线信息</h4>
<ul>
<li><a href="#" title="" itemprop="url">预定服务</a></li>
<li><a href="#" title="" itemprop="url">可提前2天预约</a></li>
<li><a href="#" title="" itemprop="url">为司机师傅安全着想</a></li>
<li><a href="#" title="" itemprop="url">为您的行程节省时间</a></li>
<li><a href="#" title="" itemprop="url">用互联网解决生活问题</a></li>
</ul>
</div>
</div>
<div class="col-md-3 col-sm-6 col-lg-3">
<div class="widget customer_care wow fadeIn" data-wow-delay="0.3s">
<h4 class="widget-title" itemprop="headline">商业合作</h4>
<ul>
<li><a href="#" title="" itemprop="url">微信：18521097074</a></li>
<li><a href="#" title="" itemprop="url">手机：18521097074</a></li>
<li><a href="#" title="" itemprop="url">邮箱：425451098@qq.com</a></li>
<li><a href="#" title="" itemprop="url">工作时间：上午10:00-晚上8：00</a></li>

</ul>
</div>
</div>
<div class="col-md-3 col-sm-6 col-lg-3">
<div class="widget get_in_touch wow fadeIn" data-wow-delay="0.4s">
<h4 class="widget-title" itemprop="headline">联系客服</h4>
<ul>
<li><i class="fa fa-map-marker"></i> 司机电话：</li>
<li><i class="fa fa-phone"></i> (0044) 8647 1234 587</li>

</ul>
</div>
</div>
</div>
</div><!-- Footer Data -->
</div>
</div>
</div>
</div>
</footer>